<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogViewerDaemon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <LogViewerDaemon.Properties.Settings>
            <setting name="Eventlogs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>system</string>
                        <string>security</string>
                        <string>application</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FilterScript" serializeAs="String">
                <value>C:\filter.conf</value>
            </setting>
            <setting name="MessageQueue" serializeAs="String">
                <value>.\Private$\logViewer</value>
            </setting>
            <setting name="MessageQueuePermissions" serializeAs="String">
                <value>Benutzer</value>
            </setting>
        </LogViewerDaemon.Properties.Settings>
    </applicationSettings>
  <!--<system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add type="System.Diagnostics.TextWriterTraceListener" name="TextWriter" initializeData="C:\\LogViewerDaemon.log" />
      </listeners>
    </trace>
  </system.diagnostics>-->
</configuration>